<div class="row">
  <div class="col s12 l6" id="basicInfo">
    <h3>Basic Details</h3>
    <div class="rawInfo" [hidden]="editing">
      <div class="row">
        <div class="col s5">Name:</div>
        <div class="col s7">{{companyDetails.name}}</div>
      </div>
      <div class="row">
        <div class="col s5">Address:</div>
        <div class="col s7">{{companyDetails.address}}</div>
      </div>
      <div class="row">
        <div class="col s5">Establishment date:</div>
        <div class="col s7">{{companyDetails.est | date:'longDate'}}</div>
      </div>
      <div class="row">
        <div class="col s5">Phone:</div>
        <div class="col s7">{{companyDetails.phNum}}</div>
      </div>
      <div class="row">
        <div class="col s5">website:</div>
        <div class="col s7">{{companyDetails.website}}</div>
      </div>
      <div class="row">
        <div class="col s12">About us:</div>
        <div class="col s7"><pre id="cmpAbtUs">{{companyDetails.abtUs}}</pre></div>
      </div>
      <a id="infoEditBtn" (click)="editInfoClick()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
    </div>
    <div class="formArea" [hidden]="!editing">
      <form (submit)="cmpInfoSubmit(form.valid)" #form=ngForm>
        <div class="row">
          <div class="input-field">
            <input id="name" name="name" [(ngModel)]="companyDetails.name" type="text" #name="ngModel" required>
            <label for="name" class="active">Name</label>
            <div [hidden]= "name.valid || (name.pristine && !form.submitted)" class="red-text">
              Please input a Name.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="address" type="text" name="address" [(ngModel)]="companyDetails.address">
            <label for="address" class="active">Address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="est" type="text" name="est" [(ngModel)]="companyDetails.est" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 100, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok', format:'mmmm d, yyyy'}]">
            <label for="est" class="active">Established</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <label for="phNum" class="active">Phone Number</label>
            <input id="phNum" type="text" name="phNum" [(ngModel)]="companyDetails.phNum" >
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <label for="website" class="active">Website</label>
            <input id="website" type="text" name="website" [(ngModel)]="companyDetails.website">
          </div>
        </div>
        <button type="submit" class="btn btn-submit">Save<i class="material-icons right">send</i></button>
        <button type="button" (click)='cancelInfoEditClick()' class="btn red">cancel</button>
      </form>
    </div>
  </div>
  <div class="col s12 l6" id="logo">
    <h3>Company Logo</h3>
    <div class="imgArea">
      <img [src]="companyDetails.logo.url" class="responsive-img circle" alt="User display picture">
      <a href="#logoUploadModal" class="btn-floating modal-trigger btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
    </div>
  </div>
</div>
<div class="col s12" id="adminManagement">
    <h3>Admins management</h3>
    <div class="container">
      <table class="striped centered">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of companyDetails.admins; let i = index">
            <td>{{i+1}}</td>
            <td>{{admin.name}}</td>
            <td>{{admin.email}}</td>
          </tr>
        </tbody>      
      </table>
      <div id="addAdminArea">
        <div id="addAdminBtnArea" [hidden]="editingAdmin">
          <a (click)="addAdminClick()" id="addAdminBtn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div id="addAdminForm" [hidden]="!editingAdmin">
          <form (submit)="adminInfoSubmit(adminForm.valid)" #adminForm=ngForm>
            <div class="row">
              <div class="col s12 l6 input-field">
                <label for="adminName">Name</label>
                <input type="text" name="name" id="adminName" [(ngModel)]="newAdmin.name" required #name="ngModel">
                <div [hidden]= "name.valid || (name.pristine && !adminForm.submitted)" class="red-text">
                  Please input a name.
                </div>
              </div>
              <div class="col s12 l6 input-field">
                <label for="adminEmail">Email</label>
                <input id="adminEmail" type="email" name="email" [(ngModel)]="newAdmin.email" #email="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                <div [hidden]= "email.valid || (email.pristine && !adminForm.submitted)" class="red-text">
                  Please input a valid Email address.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-submit">Save<i class="material-icons right">send</i></button>
            <button type="button" class="btn red" (click)="cancelAdminEditClick()">Cancel</button>
          </form>
        </div>
      </div>
    </div>
</div>

<div id="logoUploadModal" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <img-cropper [image]="imgData" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
  </div>
  <div class="modal-footer">
    <a (click)="onLogoUploadClick()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
