<div class="container openingDetails">
  <h5>{{openingDetails.title}}&emsp;|&emsp;
    <i *ngIf="!isLiked" (click)="likeClicked()" class="material-icons small clickableIcon tooltipped" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Like">favorite_border</i>
    <i *ngIf="isLiked" (click)="unlikeClicked()" class="material-icons small clickableIcon icon-red" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Remove like">favorite</i>
     {{likesCount}}
  </h5>
  <p class="infoTitle">Description:</p>
  <pre class="">{{openingDetails.descrip}}</pre>
  <p class="infoTitle">Responsibilities:</p>
  <pre class="">{{openingDetails.rspably}}</pre>
  <p class="infoTitle">Required skills:</p>
  <ul>
    <li *ngFor='let skill of openingDetails.sklRq'>
      {{skill}}
    </li>
  </ul>
  <p class="infoTitle">Preferred skills:</p>
  <ul>
    <li *ngFor='let skill of openingDetails.sklOp'>
      {{skill}}
    </li>
  </ul>
  <div [hidden]="!editWrites" id="openingOptions" class="fixed-action-btn">
    <a class="btn-floating btn-large cyan accent-2"><i class="material-icons large">more_horiz</i></a>
    <ul>
      <li class="tooltipped" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Edit"><a href="#editOpeningModal" class="btn-floating red modal-trigger"><i class="material-icons">edit</i></a></li>
      <li [hidden]="!openingDetails.pblshed && !openingDetails.achivd" (click)='moveToDrafts()' class="tooltipped" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Move to drafts"><a class="btn-floating yellow darken-1"><i class="material-icons">arrow_back</i></a></li>
      <li [hidden]="openingDetails.pblshed  || openingDetails.achivd" (click)='publishOpening()' class="tooltipped" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Publish"><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li [hidden]="openingDetails.achivd" (click)='archiveOpening()' class="tooltipped" materialize="tooltip" data-position="left" data-delay="100" data-tooltip="Archive"><a class="btn-floating red"><i class="material-icons">archive</i></a></li>
    </ul>
  </div>
</div>

<div id="editOpeningModal" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <h5>Edit internship opening</h5>
    <form materialize (ngSubmit)='saveOpening(form.valid)' #form='ngForm'>
      <div class="input-field">
        <label for="title">Opening Title</label>
        <input id="title" name='title' type="text" [(ngModel)]="openingDetails.title" required #title="ngModel">
        <div [hidden]= "title.valid || (title.pristine && !form.submitted)" class="red-text">
          Please input a valid title for the opening.
        </div>
      </div>
      <div class="input-field">
        <label for="descrip">Description</label>
        <textarea class="materialize-textarea" id="descrip" name='descrip' type="text" [(ngModel)]="openingDetails.descrip" required #descrip="ngModel"></textarea>
        <div [hidden]= "descrip.valid || (descrip.pristine && !form.submitted)" class="red-text">
          Please input a description for the opening.
        </div>
      </div>
      <div class="input-field">
        <label for="rspably">Responsibilities</label>
        <textarea class="materialize-textarea" id="rspably" name='rspably' type="text" [(ngModel)]="openingDetails.rspably" required #rspably="ngModel"></textarea>
        <div [hidden]= "rspably.valid || (rspably.pristine && !form.submitted)" class="red-text">
          Please input a valid responsibilities for the opening.
        </div>
      </div>
      <div class="input-field chipInp">
        <label for="rqSkl">Required skills(maximum of 5):</label>
        <div id='rqSkl' class="chips" materialize="material_chip" [materializeParams]="[chipsInit]" [materializeActions]="rqChipsActions" (chip.add)="addRqSkl($event.detail)" (chip.delete)="deleteRqSkl($event.detail)"></div>
        <div [hidden]= "rqSklChpArr.length || !form.submitted" class="red-text">
          Please input at least one required skill for the opening.
        </div>
      </div>
      <div class="input-field chipInp">
        <label for="openSkl">Optional skills(maximum of 5):</label>
        <div id='opnSkl' class="chips" materialize="material_chip" [materializeParams]="[chipsInit]" [materializeActions]="opnChipsActions" (chip.add)="addOpnSkl($event.detail)" (chip.delete)="deleteOpnSkl($event.detail)"></div>
        <div [hidden]= "opnSklChpArr.length || !form.submitted" class="red-text">
          Please input at least one optional skill for the opening.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="form.ngSubmit.emit()" class="modal-action modal-close waves-effect waves-green btn-flat">Save</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>