<ul class="tabs z-depth-1 yrTabs" materialize="tabs">
  <li *ngFor="let year of yearArr" class="tab"><a id="year" (click)="onYearTabClick(year)">PIITs {{year}}</a></li>
</ul>
<div *ngIf="internships.length" class="intershipsList">
  <table class="highlight">
    <thead>
      <tr>
        <th>
          Sr. no.
        </th>
        <th>
          Candidate Name
        </th>
        <th>
          Company Name
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let internship of internships; let i = index" (click)="onIntnshpClick(internship._id)">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{internship.candidate.name}}
        </td>
        <td>
          {{internship.company.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="fltBtnArea">
  <a id="addCandidateBtn" href="#addCandidateModal" class="btn-floating modal-trigger btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</div>

<div id="initIntenshpModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <form (ngSubmit)="onIntnshpCreateClick()" #form=ngForm>
      <div class="input-field col s12">
        <label for="company"> Company Name</label>
        <input id="company" type="text" name="companyName" [formControl]="companySearchControl" [(ngModel)]="newIntnshp.companyName" required  materialize="autocomplete" [materializeParams]="companyAutocompleteParams" [materializeActions]="companySearchBoxAction" autocomplete="off">
      </div>
      <div class="input-field col s12">
        <label for="candidate"> Candidate email address</label>
        <input id="candidate" type="text" name="candidateEmail" [(ngModel)]="newIntnshp.candidateEmail" required [formControl]="candidateSearchControl" materialize="autocomplete" [materializeParams]="candidateAutocompleteParams" [materializeActions]="candidateSearchBoxAction" autocomplete="off">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="form.ngSubmit.emit()" class="waves-effect waves-green btn-flat ">Create</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>
</div>
