<div id="basicInfo" class="row z-depth-2">
    <form (submit)='onBasicInfoSubmit(basicInfoForm.valid)' #basicInfoForm="ngForm">
        <div class="row">
            <div class="col s12 l6">
                <div class="input-field col s12">
                    <label for="title">Project Name</label>
                    <input id="title" name='projectName' type="text" [(ngModel)]="internship.projectName" required [disabled]="!editingBasicInfo" #title="ngModel">
                    <div [hidden]= "title.valid || (title.pristine && !basicInfoForm.submitted) || !editingBasicInfo" class="red-text">
                        Please input a valid project title for the project.
                    </div>
                </div>
                <div class="input-field col s12">
                    <label for="description">Description</label>
                    <textarea id="description" class="materialize-textarea" name='description' [(ngModel)]="internship.description" [disabled]="!editingBasicInfo" data-length="200"></textarea>
                </div>
                <div class="input-field col s12">
                    <label for="company">Company</label>
                    <input id="company" name="company" type="text" [(ngModel)]="internship.company.name" disabled>
                </div>
                <div class="input-field col s6">
                    <label for="startDate">Start Date</label>
                    <input id="startDate" name='startDate' type="text" [(ngModel)]="internship.startDate" required [disabled]="!editingBasicInfo" #startDate="ngModel" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok'}]">
                    <div [hidden]= "startDate.valid || (startDate.pristine && !basicInfoForm.submitted) || !editingBasicInfo" class="red-text">
                        Please input a valid start date for the project.
                    </div>
                </div>
                <div class="input-field col s6">
                    <label for="endDate">End Date</label>
                    <input id="endDate" name='endDate' type="text" [(ngModel)]="internship.endDate" required [disabled]="!editingBasicInfo" #endDate="ngModel" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok'}]">
                    <div [hidden]= "endDate.valid || (endDate.pristine && !basicInfoForm.submitted) || !editingBasicInfo" class="red-text">
                        Please input a valid end date for the project.
                    </div>
                </div>
            </div>
            <div id="basicInfoRt" class="col s12 l6 right">
                <div class="row candiDPRow">
                    <img class="responsive-img" id="candiDP" [src]="internship.candidate.DP.url" alt="Candidate profile picture">
                </div>
                <div class="input-field col s12">
                    <label for="candiName">Name</label>
                    <input id="candiName" name='name' type="text" [(ngModel)]="internship.candidate.name" disabled>
                </div>
                <div class="input-field col s12">
                    <label for="designation">Designation</label>
                    <input id="designation" name='designation' type="text" [(ngModel)]="internship.designation" [disabled]="!editingBasicInfo">
                </div>
                <div class="input-field col s12">
                    <label for="cmpGivenEmail">Company email id</label>
                    <input id="cmpGivenEmail" name="cmpGivenEmail" type="text" [(ngModel)]="internship.cmpGivenEmail" [disabled]="!editingBasicInfo">
                </div>
            </div>
        </div>
        <div id="basicInfoFormActions" [hidden]="!editingBasicInfo">
            <button type="submit" class="btn btn-submit">Save<i class="material-icons right">send</i></button>
            <button type="button" (click)="editingBasicInfo = false" class="btn red">Cancel</button>
        </div>
        <div class="fltBtnArea" [hidden]='editingBasicInfo'>
            <a id="BasicInfoEditBtn" (click)="editingBasicInfo = true" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></a>
        </div>
    </form>
</div>
<div id="tabsArea" class="col s12 z-depth-1">
    <ul class="tabs">
        <li class="tab" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['accommodation']">Accommodation</a></li>
        <li class="tab" *ngIf="userAccess != 1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['weeklyReports']">Weekly Reports</a></li>
        <li class="tab" *ngIf="userAccess != 1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['suica']">Suica</a></li>
        <li class="tab" *ngIf="userAccess != 1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['stipend']">Stipend</a></li>
        <li class="tab" *ngIf="userAccess != 1" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['wifi']">Wi-Fi</a></li>
        <li class="tab" *ngIf="false" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['feedback']">Feedback</a></li>
        <li class="tab" *ngIf="false" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['joboffer']">Job Offer</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
