<div id="tblContent">
  <table class="highlight">
    <thead>
      <tr>
        <th>Amount</th>
        <th>On</th>
        <th>Received</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments; let i = index" (click)='editCretePaymentClicked(i)'>
        <td>{{payment.amt}}</td>
        <td>{{payment.date}}</td>
        <td>{{payment.acptd}}</td>
      </tr>
    </tbody>
  </table>
  <div class="fltBtnArea">
    <a *ngIf='isWLMember' (click)='editCretePaymentClicked(-1)' id="addPaymentBtn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>
</div>

<div id="stipendEditModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <form (ngSubmit)='upsertStipendInfo(paymentForm.valid)' #paymentForm=ngForm>
      <h3>Create/Edit stipend</h3>
      <div class="row">
        <div class="input-field col s4">
          <label for="amount"> Stipend amount</label>
          <input id="amount" name="amt" [(ngModel)]="upsertPayment.amt" type="text" required #amt="ngModel">
          <div [hidden]= "amt.valid || (amt.pristine && !paymentForm.submitted)" class="red-text">
            Please input a valid Amount.
          </div>
        </div>
        <div class="input-field col s5">
          <label for="on">Date</label>
          <input id="on" name="date" [(ngModel)]="upsertPayment.date" type="text" required #date="ngModel" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok'}]">
          <div [hidden]= "date.valid || (date.pristine && !paymentForm.submitted)" class="red-text">
            Please input a valid date.
          </div>
        </div>
        <div class="chkBxDiv col s2" [hidden]="upsertPayment.index == -1">
          <input id="acptd" type="checkbox" name='acptd' [(ngModel)]="upsertPayment.acptd">
          <label for="acptd">Accepted</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="paymentForm.ngSubmit.emit()" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    <span [hidden]="upsertPayment.index == -1"><a (click)="deleteStipend()" class="modal-action modal-close waves-effect waves-red btn-flat ">Delete</a></span> 
  </div>
</div>