<div class="container">
  <div class="row basicInfo">
    <div class="col s12">
      <img class="left" [src]="cmpProfile.logo.url" alt="Company Logo">
      <div class="left">
        <p>{{cmpProfile.Name}}</p>
        <p>{{cmpProfile.address}}</p>
        <a [href]="cmpProfile.website">{{cmpProfile.website}}</a>
        <p> Established: {{cmpProfile.est | date:'longDate'}}</p>
      </div>
    </div>
    <h5>About Us:</h5>
    <p>{{cmpProfile.abtUs}}</p>
  </div>
  <div class="row lists">
    <div [hidden]='decodedToken.access == 0' class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#draftsList">Drafts</a></li>
        <li class="tab col s4"><a class="active" href="#liveList">Published</a></li>
        <li class="tab col s4"><a href="#archivedList">Archived</a></li>
      </ul>
    </div>
    <div id="draftsList" class="col s12">
      <div class="card opening hoverable" *ngFor='let opening of draftsList'>
        <div class="card-content">
          <span class="card-title">{{opening.title}}</span>
          <p class="max3Lines">{{opening.descrip}}</p>
          <div class="card-action">
            <a [routerLink]='opening.routerLink'>Visit</a>
          </div>
        </div>
      </div>
    </div>
    <div id="liveList" class="col s12">
      <div class="card opening hoverable" *ngFor='let opening of liveList'>
        <div class="card-content">
          <span class="card-title">{{opening.title}}</span>
          <p class="max3Lines">{{opening.descrip}}</p>
          <div class="card-action">
            <a [routerLink]='opening.routerLink'>Visit</a>
          </div>
        </div>
      </div>
    </div>
    <div id="archivedList" class="col s12">
      <div class="card opening hoverable" *ngFor='let opening of archivedList'>
        <div class="card-content">
          <span class="card-title">{{opening.title}}</span>
          <p class="max3Lines">{{opening.descrip}}</p>
          <div class="card-action">
            <a [routerLink]='opening.routerLink'>Visit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="openingCreateBtnArea">
      <a id="openingCreateBtn" href="#createOpeningModal" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i class="material-icons">add</i></a>
    </div>
  </div>
</div>

<div id="createOpeningModal" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <h5>Create internship opening</h5>
    <form (ngSubmit)='saveOpening(form.valid)' #form='ngForm'>
      <div class="input-field">
        <label for="title">Opening Title</label>
        <input id="title" name='title' type="text" [(ngModel)]="newOpening.title" required #title="ngModel">
        <div [hidden]= "title.valid || (title.pristine && !form.submitted)" class="red-text">
          Please input a valid title for the opening.
        </div>
      </div>
      <div class="input-field">
        <label for="descrip">Opening Title</label>
        <input id="descrip" name='descrip' type="text" [(ngModel)]="newOpening.descrip" required #descrip="ngModel">
        <div [hidden]= "descrip.valid || (descrip.pristine && !form.submitted)" class="red-text">
          Please input a description for the opening.
        </div>
      </div>
      <div class="input-field">
        <label for="respbly">Opening Title</label>
        <input id="respbly" name='respbly' type="text" [(ngModel)]="newOpening.respbly" required #respbly="ngModel">
        <div [hidden]= "respbly.valid || (respbly.pristine && !form.submitted)" class="red-text">
          Please input a valid responsibilities for the opening.
        </div>
      </div>
      <div id='rqSkl' class="chips" materialize="material_chip" [materializeParams]="[chipsInit]" [materializeActions]="rqChipsActions" (chip.add)="addRqSkl($event.detail)" (chip.delete)="deleteRqSkl($event.detail)"></div>
      <div [hidden]= "rqSkl.length || !form.submitted" class="red-text">
        Please input at least one required skill for the opening.
      </div>
      <div id='opnSkl' class="chips" materialize="material_chip" [materializeParams]="[chipsInit]" [materializeActions]="opnChipsActions" (chip.add)="addOpnSkl($event.detail)" (chip.delete)="deleteOpnSkl($event.detail)"></div>
      <div [hidden]= "rqSkl.length || !form.submitted" class="red-text">
        Please input at least one optional skill for the opening.
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="form.ngSubmit.emit()" class="modal-action modal-close waves-effect waves-green btn-flat">Create</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>