<div class="container z-depth-2">
  <div class="container10p">
    <div class="row basicInfo">
      <div [hidden]="!editRights" class="col s12">
        <img class="left cmpLogo" [src]="cmpProfile.logo.url" alt="Company Logo">
        <div class="left">
          <p>{{cmpProfile.name}}</p>
          <p>{{cmpProfile.address}}</p>
          <a [href]="cmpProfile.website">{{cmpProfile.website}}</a>
          <p> Established: {{cmpProfile.est | date:'longDate'}}</p>
        </div>
      </div>
      <div class="col s12">
        <h5>About Us:</h5>
        <pre>{{cmpProfile.abtUs}}</pre>
      </div>
      <a id="abtUsFAB" [hidden]="!editRights" href="#editAbtUsModal" class="btn-floating btn-large waves-effect waves-light red modal-trigger"><i class="material-icons">edit</i></a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<div id="editAbtUsModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalActions">
  <div class="modal-content">
    <h5>Update company about us</h5>
    <form (ngSubmit)='updateAbtUs(form)' #form='ngForm'>
      <div class="input-field">
        <label for="abtUs">About Us</label>
        <textarea materialize class="materialize-textarea" id="abtUs" name='abtUs' [(ngModel)]="editingCmpProfile.abtUs"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="form.ngSubmit.emit()" class="waves-effect waves-green btn-flat">Update</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>