<div class="container z-depth-2">
  <div class="container10p">
    <div class="row">
      <div class="col s12">
        <img class="left cmpLogo" [src]="cmpProfile.logo.url" alt="Company Logo">
        <div class="left">
          <p>{{cmpProfile.name}}</p>
          <p>{{cmpProfile.address}}</p>
          <a [href]="cmpProfile.website">{{cmpProfile.website}}</a>
          <p> Established: {{cmpProfile.est | date:'longDate'}}</p>
        </div>
      </div>
      <div class="col s12">
        <h5>About Us:</h5>
        <pre>{{cmpProfile.abtUs}}</pre>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>