<nav *ngIf="authService.isLoggedIn()" class="z-depth-2">
  <div class="container3p">
    <div class="nav-wrapper">
      <a href=""  class="brand-logo"><img src="../../assets/images/clrLogo.png" alt="Logo"></a>
      
      <a data-activates="mobile-demo" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down pcNav">
        <!-- userAccess ==2 -> visible to only admins *** userAccess == 0 -> candidate -->
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/company/myCompany']">企業情報</a></li>
        <li *ngIf="userAccess == 2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/companies']">企業一覧</a></li>
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/candidates']">候補者一覧</a></li>
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/shortlist']">お気に入りリスト</a></li>
        <li><a class="dropdown-button" data-activates="dropdown1"
          materialize ="dropdown" [materializeParams]="dropdownParams" [materializeActions]="dropdownActions">
          <img [src]="user.DPUrl" alt="Profile Pic" id="headerDP" class="left circle responsive-img"><span>{{user.name}}</span><i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id="dropdown1" [ngClass]="{ 'dropdown-content' : true}">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']">Profile</a></li>
          <li *ngIf="userAccess == 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/cvbuilder/'+userId]">My CV</a></li>
          <li *ngIf="userAccess == 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/inviteHistory/'+userId]">My Invites</a></li>
          <li class="divider"></li>
          <li><a href="#" (click)="logout()">Logout</a></li>
        </ul>
      </li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <!-- userAccess ==2 -> visible to only admins *** userAccess == 0 -> candidate --> 
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/company/myCompany']" >企業情報</a></li>
        <li *ngIf="userAccess == 2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/companies']" >企業一覧</a></li>
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/candidates']" >候補者一覧</a></li>
        <li *ngIf="userAccess != 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/shortlist']">お気に入りリスト</a></li>
        <li><a class="dropdown-button" data-activates="dropdown2" 
          materialize="dropdown" [materializeParams]="dropdownParams" [materializeActions]="dropdownActions">
          <img [src]="user.DPUrl" alt="Profile Pic" id="headerDP" class="left circle responsive-img"><span>{{user.name}}</span><i class="material-icons right">arrow_drop_down</i>
        </a>
        <ul id="dropdown2" [ngClass]="{ 'dropdown-content' : true}">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']">Profile</a></li>
          <li *ngIf="userAccess == 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/cvbuilder/'+userId]">My CV</a></li>
          <li *ngIf="userAccess == 0" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/inviteHistory/'+userId]">My Invites</a></li>
          <li class="divider"></li>
          <li><a href="#" (click)="logout()">Logout</a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>