nav .nav-wrapper .brand-logo img {
    height: 54px;
    margin: 5px 0;
}

.dropdown-button img{
    max-height: 54px;
    margin: 5px 0;
    vertical-align: middle;
}

nav{
    margin-bottom: 70px;
}