nav .nav-wrapper .brand-logo img {
    height: 54px;
    margin: 5px 0;
}

.dropdown-button img{
    max-height: 54px;
    margin: 5px 0;
    vertical-align: middle;
}

nav {
    background-color: white;
    margin-bottom: 70px;
}

.pcNav li a{
    color: #26a69a;
    font-size: 18px;
}

.container3p{
    width: 100%;
    padding: 0 3%;
}
