.cprtArea{
    text-align: center;
}

#cprtTxt{
    margin-bottom: 10px;
}

.cprtArea img{
    width: 100px;
    margin: 10px 0;
}

.cprtArea a{
    margin: auto;
}

.footer-copyright{
    background: #007A8B;
}