<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpiits.jp%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="col l4 offset-l2 s12">
      <ul>
        <li><a class="grey-text text-lighten-3" href="http://willings.co.jp/">Willings, Inc.</a></li>
        <li><a class="grey-text text-lighten-3" href="http://piits.jp/faq">FAQ</a></li>
        <li><a class="grey-text text-lighten-3" href="http://piits.jp/poricy">Policy</a></li>
        <li><a class="grey-text text-lighten-3" href="https://willings.co.jp/contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container cprtArea">
    <a href="http://willings.co.jp/"><img class="responsive-img" src="../../assets/images/WL_logo_white.svg" alt="Willings logo"></a>
    <div id="cprtTxt">© 2018 Willings, Inc. All rights reserved.</div>
  </div>
</div>