<div id="tabsArea" class="col s12 z-depth-1">
   
    <ul class="tabs">
        <li class="tab" >
            <a [routerLinkActive]="['active']" routerLinkActiveOptions="{exact:true}" [routerLink]="['education']">education</a>
        </li>
        <li class="tab">
            <a [routerLinkActive]="['active']" routerLinkActiveOptions="{exact:true}" [routerLink]="['experience']">Experience</a>
        </li>
        <li class="tab">
            <a [routerLinkActive]="['active']" routerLinkActiveOptions="{exact:true}" [routerLink]="['projects']">Projects</a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>