<div class="container">
  <div class="carousel carousel-slider" materialize="carousel" [materializeParams]='[{ fullWidth: true }]'>
    <a class="carousel-item" (click)="nextSlide()" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
    <a class="carousel-item" (click)="nextSlide()" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
    <a class="carousel-item" (click)="nextSlide()" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
    <a class="carousel-item" (click)="nextSlide()" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
  </div>
</div>
