<ul>
  <li *ngfor="let year of yearArr" class="tab"><a id="year" (click)="onYearTabClick(year)">{{year}}</a></li>
</ul>
<div class="intershipsList">
  <table>
    <thead>
      <tr>
        <th>
          Sr. no.
        </th>
        <th>
          Company
        </th>
        <th>
          Candidate
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngfor="let internship of internships; let i = index" (click)="onIntnshpClick(i)">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{internship.candidate.name}}
        </td>
        <td>
          {{internship.company.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<a href="#IntnshpCreateModal" id="addPaymentBtn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

<div id="IntnshpCreateModal" class="modal modal-fixed-footer" materialize="modal">
  <div class="modal-content">
    <form (submit)"onIntnshpCreateClick(form.valid)" #form=ngForm>
      <div class="input-field col s12">
        <label for="company"> Company Name</label>
        <input id="company" name="companyName" [(ngModel)]="newIntnshp.companyName" type="text" #cmpName="ngModel" required [formControl]="companySearchControl" materialize="autocomplete" [materializeParams]="companyAutocompleteParams" [materializeActions]="companySearchBoxAction">
        <div [hidden]= "cmpName.valid || (cmpName.pristine && !form.submitted)" class="red-text">
          Please input a valid company name.
        </div>
      </div>
      <div class="input-field col s12">
        <label for="candidate"> Candidate Name</label>
        <input id="candidate" name="candidateName" [(ngModel)]="newIntnshp.candidateName" type="text" #candidateName="ngModel" required [formControl]="candidateSearchControl" materialize="autocomplete" [materializeParams]="candidateAutocompleteParams" [materializeActions]="candidateSearchBoxAction">
        <div [hidden]= "candidateName.valid || (candidateName.pristine && !form.submitted)" class="red-text">
          Please input a valid candidate name.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="form.ngSubmit.emit()" class="modal-action modal-close waves-effect waves-green btn-flat ">Create</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
  </div>
</div>