<div class="container z-depth-1">
  <div class="container10p">
    <p> Select the email address associated with your account on Pisys </p>
    <form class="forgotPassForm" (submit)="onForgotPasswordSubmit(form.valid)" #form="ngForm">
      <div class="input-field col s12">
        <label for="email">Email Address</label>
        <input id="email" type="email" name="email" [(ngModel)]="email" #emailAdd="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" [disabled]="submitted">
        <div [hidden]= "emailAdd.valid || (emailAdd.pristine && !form.submitted)" class="red-text">
          Please input a valid Email address.
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" [disabled]='submitted'>Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
    <p [hidden]="!submitted">
      We have sent a password reset link to your email address. Kindly check your spam folder if you are unable to find our mail. Thank you. 
    </p>
  </div>
</div>