<form (submit)="upsertWiFiInfo(wifiForm.valid)" #wifiForm=ngForm>
  <div class="row">
    <div *ngIf='isWLMember' class="input-field col s12">
      <label for="cost">Card Number</label>
      <input id="cost" name='cost' type="text" [(ngModel)]="WiFiInfo.cost" required [disabled]="!editingWiFiInfo" #cost="ngModel">
      <div [hidden]= "cost.valid || (cost.pristine && !wifiForm.submitted) || !editingWiFiInfo" class="red-text">
          Please input a valid card number.
      </div>
    </div>
    <div class="input-field col s12">
      <label for="dId">Device identification number</label>
      <input id="dId" name='dId' type="text" [(ngModel)]="WiFiInfo.dId" required [disabled]="!editingWiFiInfo" #dId="ngModel">
      <div [hidden]= "dId.valid || (dId.pristine && !wifiForm.submitted) || !editingWiFiInfo" class="red-text">
          Please input a valid device number.
      </div>
    </div>
    <div class="input-field col s12">
      <label for="agName">Agency Name</label>
      <input id="agName" name='name' type="text" [(ngModel)]="WiFiInfo.agency.name" [disabled]="!editingWiFiInfo">
    </div>
    <div class="input-field col s12">
      <label for="agEmail">Agency contact email address</label>
      <input id="agEmail" name='email' type="text" [(ngModel)]="WiFiInfo.agency.email" [disabled]="!editingWiFiInfo">
    </div>
    <div class="input-field col s12">
      <label for="agPhNum">Agency contact number</label>
      <input id="agPhNum" name='phNum' type="text" [(ngModel)]="WiFiInfo.agency.phNum" [disabled]="!editingWiFiInfo">
    </div>
    <div *ngIf='isWLMember' class="input-field col s12">
      <label for="cmnts">additional remarks/comments</label>
      <textarea id="cmnts" class="materialize-textarea" name='cmnts' [(ngModel)]="WiFiInfo.cmnts" [disabled]="!editingWiFiInfo"></textarea>
    </div>
    <div class="input-field col s6">
      <label for="sDate" class="active">Issued on</label>
      <input id="sDate" type="text" name="sDate" [(ngModel)]="WiFiInfo.sDate" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok'}]">
    </div>
    <div class="input-field col s6">
      <label for="rDate" class="active">Return date</label>
      <input id="rDate" type="text" name="rDate" [(ngModel)]="WiFiInfo.rDate" class="datepicker" materialize="pickadate" [materializeParams]="[{selectYears: 20, selectMonths: true, today: 'Today', clear: 'Clear', close: 'Ok'}]">
    </div>
    <div id="WiFiInfoFormActions" [hidden]="!editingWiFiInfo">
        <button type="submit" class="btn btn-submit">Save<i class="material-icons right">send</i></button>
        <button type="button" (click)="editingWiFiInfo = false" class="btn red">Cancel</button>
    </div>
  </div>
</form>
<div class="fltBtnArea" *ngIf='isWLMember' [hidden]="editingWiFiInfo">
  <a id="WiFiInfoEditBtn" (click)="editingWiFiInfo = true" class="btn-floating btn-large waves-effect waves-light red" ><i class="material-icons">edit</i></a>
</div>