<div class="container">
  <h4>Internships</h4>
  <div class="row">
    <div class="col s6" *ngFor='let internship of internships'>
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" [src]="internship.img">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{internship.projectName}}<i class="material-icons right">more_vert</i></span>
            <p class="intnshpLnk"><a (click)="onInternshipClick(internship._id)">Go to internship</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{internship.projectName}}<i class="material-icons right">close</i></span>
            <p>
              Company name:  {{internship.company.name}} <br>
              Candidate name: {{internship.candidate.name}} <br><br>
              Description: {{internship.description}}
            </p>
          </div>
        </div>
    </div>
  </div>
</div>